/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
        flex-direction: column;
	min-height: 100vh;
	padding: 30px;
        padding-top: 100px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.8em;
	font-weight: 500;   
        color: #FAFAFA;                 
}

main > .tagline {
	font-size: 2rem;
	margin: 0.6rem 0;
	font-weight: 160;
        color: #FAFAFA;
}

.icons-social i {
	padding: 10px;
margin: 0.3rem 0;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.byRithesh {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
}
